.bgGradient {
    position: relative;
    background: linear-gradient(270deg, rgba(39, 39, 50, 1) 0%, rgba(41, 43, 49, 1) 100%);
}

.sectionSty {
    position: relative;
}

.ContentCard {
    position: relative;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.contenttitle {
    font-size: clamp(28px, 4vw, 38px);
    font-family: "Prompt", "Prompt Fallback";
    font-weight: 700;
    color: #ffffff;
    line-height: clamp(26px, 4vw, 38px);
}

.contentSubtitle {
    font-size: clamp(12px, 4vw, 15px);
    font-family: var(--font-glacial);
    font-weight: 400;
    line-height: clamp(20px, 4vw, 26px);
    color: #ffffff;
    margin-top: clamp(8px, 4vw, 10px);
}





.sectionSty::before {
    contain: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 50%;
    width: 100%;
}