.heroSection {
  position: relative;
  overflow: hidden;
}


.heroContent {
    padding-block: 68px;
}

.bottom_title{
    color: #212121;
    text-align: center;
    font-family: "Prompt", "Prompt Fallback";
    font-weight: 700;
    font-size: clamp(28px, 4vw, 38px);
    line-height: clamp(30px, 4vw, 48px);
    letter-spacing: 0%;
    vertical-align: middle;

}
.bottom_subtitle{
    font-family: var(--font-glacial);
    font-weight: 400;
    font-size: clamp(12px, 4vw, 16px);
    line-height: clamp(22px, 4vw, 26px);
    letter-spacing: 0%;
    vertical-align: middle;
    color: #212121;
        margin-top: clamp(10px,4vw,20px);
}


@media (max-width:1024px) {
    .heroContent {
        padding-block: 25px;
    }
}