.topBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.callBox {
    display: flex;
    background-color: #BD632F;
    height: 19px;
    width: 19px;
    border-radius: 3px;
    align-items: center;
    justify-content: center;
}

.callText {
    font-family: var(--font-glacial);
    font-weight: 400;
    font-size: clamp(11px, 2.5vw, 16px);
    color: #FFFFFF;
}

.navItems a {
    font-size: small;
}

.customLg {
    display: block;
}

.hideOnCustomLg {
    display: none;
}

.navItems {
    display: flex;
}

.dropdownMenu {
    position: absolute;
    top: 100%;
    left: -20px;
    background-color: #ffffff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12),
        0 1px 2px rgba(0, 0, 0, 0.24);
    width: 150px;
    z-index: 50;
    opacity: 0;
    visibility: hidden;
    /* transition: opacity 200ms ease-in-out; */
}

.dropdownMenu li {
    display: block;
    color: #000000;
    text-align: left;
    border-bottom: 1px solid rgb(235, 232, 232);
}

.dropdownMenu li:last-child {
    border-bottom: none;
}

.dropdownMenu li a {
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    color: #000000;
    text-align: left;
    font-family: var(--font-glacial);
    font-weight: 400;
    font-size: 14px !important;
}

.dropdownMenu li a:hover {
    background-color: #e9bd5894;
    color: #BD632F;
    font-family: var(--font-glacial);
    font-weight: 400;
    font-size: 14px !important;
}

/* .dropdownMenu :hover {
    
    border:2px solid white;
} */
.group:hover .dropdownMenu {
    opacity: 1;
    visibility: visible;
}

.opportunitiesText {
    color: white;
    font-family: var(--font-glacial);
    font-weight: 400;
    cursor: pointer;
    font-size: 14px !important;
    padding: 7px;

}

@media (max-width: 768px) {
    .callBox {
        display: none;
    }

    .topBar {
        justify-items: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }

    .customLg {
        display: none !important;
    }

}


@media (max-width: 1300px) {
    .customLg {
        display: flex;
    }

    .navItems {
        display: none;
    }

    .hideOnCustomLg {
        display: block;
    }
}

/* @media (max-width: 768px) {
    .customLg {
        display: none;
    }

}  */