.customWrapper>div:nth-child(1) {
    margin-right: 75px;
    margin-top: 30px;
}

.customWrapper>div:nth-child(2) {
    margin-left: 25px !important;
    margin-right: 50px !important;
}

.customWrapper>div:nth-child(3) {
    margin-left: 50px !important;
    margin-right: 25px !important;
}

.customWrapper>div:nth-child(4) {
    margin-left: 75px !important;
}

@media (max-width: 1024px) {
    .section_img {
        height: 400px;
        width: 100%;
    }

    .customWrapper>div:nth-child(1) {
        margin-right: 0 !important;
            margin-top: -20px;
    }

    .customWrapper>div:nth-child(2) {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }

    .customWrapper>div:nth-child(3) {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }

    .customWrapper>div:nth-child(4) {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
}

@media (max-width: 700px) {
    .section_img {
        height: 300px;
        width: 100%;
    }

    .customWrapper>div:nth-child(1) {
        margin-right: 0;
        margin-top: -10px;

    }

    .customWrapper>div:nth-child(2) {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }

    .customWrapper>div:nth-child(3) {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }

    .customWrapper>div:nth-child(4) {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
}

@media (max-width: 500px) {
    .section_img {
        height: 250px;
        width: 100%;
    }

    .customWrapper>div:nth-child(1) {
        margin-right: 0;
        margin-top: -10px;

    }

    .customWrapper>div:nth-child(2) {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }

    .customWrapper>div:nth-child(3) {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }

    .customWrapper>div:nth-child(4) {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
}
