@font-face {
    font-family: 'Glacial Indifference';
    src: url('/fonts/glacial/GlacialIndifference-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Glacial Indifference';
    src: url('/fonts/glacial/GlacialIndifference-Italic.otf') format('opentype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Glacial Indifference';
    src: url('/fonts/glacial/GlacialIndifference-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}
