.sectionContainer {
    padding-top: clamp(30px, 8vw, 100px);
    padding-bottom: clamp(30px, 8vw, 100px);
}

.title {
    color: #212121;
    font-family: "Prompt", "Prompt Fallback";
    font-weight: 700;
    font-size: clamp(28px, 4vw, 38px);
    line-height: clamp(38px, 4vw, 48px);
    letter-spacing: 0%;
    vertical-align: middle;
    border-bottom: 1px solid #E3E3E3;
    padding-bottom: clamp(20px, 4vw, 40px);
}

.contacttitle {
    font-family: "Prompt", "Prompt Fallback";
    font-weight: 700;
    font-size: clamp(18px, 4vw, 22px);
    line-height: clamp(28px, 4vw, 32px);
    letter-spacing: 0%;
    vertical-align: middle;
    text-transform: capitalize;
    color: #DAA628;
    padding-top: 20px;
}

.address strong {
    font-family: var(--font-glacial);
    font-weight: 700;
    font-size: clamp(12px, 4vw, 14px);
    line-height: 26px;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #212121;
}

.address {
    font-family: var(--font-glacial);
    font-weight: 400;
    font-size: clamp(12px, 4vw, 14px);
    line-height: 26px;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #212121;
}

.summary {
    font-family: var(--font-glacial);
    font-weight: 400;
    font-size: clamp(12px, 4vw, 14px);
    line-height: 26px;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #212121;
    padding-top: 20px;
    border-top: 1px solid #E3E3E3;
}
.applyTitle{
    font-family: "Prompt", "Prompt Fallback";
    font-weight: 700;
    font-size: clamp(18px, 4vw, 22px);
    line-height: clamp(28px, 4vw, 32px);
    letter-spacing: 0%;
    vertical-align: middle;
    text-transform: capitalize;
    color: #DAA628;
}
.applysubTitle{
    font-family: var(--font-glacial);
    font-weight: 400;
    font-size: clamp(14px, 4vw, 16px);
    line-height: 26px;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #212121;
    margin-top: 10px;
}

.titleContainer p {
    color: #212121;
    text-align: center;
    font-size: clamp(12px, 4vw, 16px);
    font-family: var(--font-glacial);
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    vertical-align: middle;
    margin-top: clamp(10px, 4vw, 20px);
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.title {
    font-family: "Prompt", "Prompt Fallback";
    font-weight: 700;
    font-size: clamp(28px, 4vw, 38px);
    color: #2A2D34;
    line-height: clamp(30px, 4vw, 48px);
}

.sobTitle {
    color: #2A2D34;
    font-size: clamp(12px, 4vw, 16px);
    margin-top: clamp(10px, 4vw, 20px);
    font-family: var(--font-glacial);
    font-weight: 400;
}

.callBox {
    display: flex;
    background-color: #BD632F;
    height: 19px;
    width: 19px;
    border-radius: 3px;
    align-items: center;
    justify-content: center;
}

.callText {
    font-family: var(--font-glacial);
    font-weight: 400;
    font-size: clamp(11px, 2.5vw, 16px);
    color: #FFFFFF;
}

.sectionlist h2 {
    font-family: "Prompt", "Prompt Fallback";
    font-weight: 700;
    font-size: clamp(28px, 4vw, 38px);
    color: #2A2D34;
    line-height: clamp(32px, 4vw, 48px);
    margin-bottom: 20px;

}

.sectionlist h3 {
    font-family: "Prompt", "Prompt Fallback";
    font-weight: 700;
    font-size: clamp(16px, 4vw, 24px);
    color: #DAA628;
    margin-top: clamp(15px, 4vw, 30px);
    line-height: clamp(20px, 4vw, 24px);
    margin-bottom: 20px;
    margin-top: 30px;
}

.sectionlist h4 {
    font-family: "Prompt", "Prompt Fallback";
    font-weight: 700;
    font-size: clamp(16px, 4vw, 24px);
    color: #DAA628;
    margin-top: clamp(15px, 4vw, 30px);
    line-height: clamp(20px, 4vw, 24px);
    margin-bottom: 20px;
    margin-top: 30px;
}

.sectionlist h5 {
font-family: "Prompt", "Prompt Fallback";
    font-weight: 700;
    font-size: clamp(16px, 4vw, 24px);
    color: #DAA628;
    margin-top: clamp(15px, 4vw, 30px);
    line-height: clamp(20px, 4vw, 24px);
    margin-bottom: 20px;
    margin-top: 30px;
}

.sectionlist p {
    font-family: var(--font-glacial);
    font-weight: 400;
    font-size: clamp(12px, 4vw, 16px);
    line-height: clamp(20px, 4vw, 25.9px);
    letter-spacing: 0%;
    vertical-align: middle;
    color: #212121;
    margin-bottom: 5px;
}

/* List styling (UL + OL) */
.sectionlist ul,
.sectionlist ol {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    margin: 0;
    padding-left: 1.5rem;
    margin-bottom: 20px;
}

/* Unordered list bullets */
.sectionlist ul li {
    list-style-type: none;
}

/* Ordered list numbers */
.sectionlist ol li {
    list-style-type: decimal;
}

/* Common list item style */
.sectionlist ul li,
.sectionlist ol li {
    font-family: var(--font-glacial);
    font-weight: 400;
    font-size: clamp(12px, 4vw, 16px);
    line-height: clamp(20px, 4vw, 26px);
    letter-spacing: 0%;
    color: #212121;
}

/* Ordered list marker styling */
.sectionlist ol li::marker {
    color: #212121;
    font-family: var(--font-glacial);
    font-weight: 700;
}

@media (max-width: 768px) {
    .sectionlist {
        height: auto;
        /* max-height: 249px; */
    }
}