.sectionContainer {
    padding-top: clamp(30px, 8vw, 100px);
}

.titleContainer {
    align-items: center;
    justify-content: center;
}

.titleContainer h2 {
    color: #212121;
    text-align: center;
    font-family: "Prompt", "Prompt Fallback";
    font-weight: 700;
    font-size: clamp(28px, 4vw, 38px);
    line-height: clamp(38px, 4vw, 48px);
    letter-spacing: 0%;
    vertical-align: middle;

}

.titleContainer p {
    color: #DAA628;
    text-align: center;
    font-size: clamp(18px, 4vw, 24px);
    font-family: "Prompt", "Prompt Fallback";
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 0%;
    vertical-align: middle;
    margin-top: clamp(20px, 4vw, 30px);
    margin-left: auto;
    margin-right: auto;
}
.boxicon{
    height: 62px;
    width: 100px;
    position: relative;
}

.customBoxWrapper>div:nth-child(1) {
    margin-top:auto;
}

.customBoxWrapper>div:nth-child(2) {
    margin-top: auto;
}

.customBoxWrapper>div:nth-child(5) {
    position: relative;
}

.customBoxWrapper>div:nth-child(6) {
    position: relative;

}

@media (max-width:1024px) {
    .customBoxWrapper>div:nth-child(1) {
        margin-top:auto;
    }

    .customBoxWrapper>div:nth-child(2) {
        margin-top: auto;
    }

    .customBoxWrapper>div:nth-child(5) {
        position: relative;

    }

    .customBoxWrapper>div:nth-child(6) {
        position: relative;

    }

}

@media (max-width:640px) {

    .customBoxWrapper>div:nth-child(1) {
        margin-top: auto;
    }

    .customBoxWrapper>div:nth-child(2) {
        margin-top: auto;
    }

    .customBoxWrapper>div:nth-child(5) {
        position: relative;

    }

    .customBoxWrapper>div:nth-child(6) {
        position: relative;
        
    }

}